// Foundation Settings
// Documentation can be found at: http://foundation.zurb.com/docs

$body-bg: #2ba6cb;
$body-font-color: rgba(#000, 0.8);
$body-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$primary-color: darken($body-bg, 10%);
$secondary-color: #222;
$alert-color: orangered;
$success-color: lightgreen;

$header-font-color: #FFF;
$header-font-family: $body-font-family;
$header-font-weight: 200;